<html>
<head>
    <meta charset="UTF-8">
    <title>Réinitialisation de votre mot de passe</title>
</head>
<body>
    <h1>Réinitialisation de votre mot de passe</h1>
    <p>Bonjour,</p>
    <p>Nous avons reçu une demande de réinitialisation de mot de passe pour votre compte. Cliquez sur le lien ci-dessous pour réinitialiser votre mot de passe :</p>
    <p><a href="{{ resetUrl }}">Réinitialiser mon mot de passe</a></p>
    <p>Si vous n'êtes pas à l'origine de cette demande, vous pouvez ignorer cet email. Aucun changement ne sera apporté à votre compte.</p>
    <p>Cordialement,</p>
    <p>L'équipe de support</p>
</body>
</html>
